.animate-slide {
  animation: mymove 20s linear infinite;
  max-width: none;
}

.tokenomics,
.tokenomics td {
  border: 0.5px solid black;
}

.tokenomics.dark,
.tokenomics.dark td {
  border-color: #606060;
}

@keyframes mymove {
  from {
    right: -100%;
  }
  to {
    right: 105%;
  }
}
